{# Menu Item                                                  #}
{# =========                                                  #}
{#                                                            #}
{# Display                                                    #}
{# -------                                                    #}
{# visible   - hide/show the item                             #}
{# separator - Separate with rule of some kind                #}
{#                                                            #}
{# State                                                      #}
{# -----                                                      #}
{# selected  - Indicates the current item is selected         #}
{#                                                            #}
{# Content                                                    #}
{# -------                                                    #}
{# icon      - Indicates a logo/icon for the item             #}
{# title     - hide/show the item                             #}
{#                                                            #}
{# Hierarchy                                                  #}
{# ---------                                                  #}
{# children  - Indicates that the current item has children   #}
{#                                                            #}
<ul>
  {% for item in menu %}
  {% if item.visible %}
  {% if item.separator %}<li class="divider-vertical"></li>{% endif %}
  <li class="{% if item.selected %}active{% endif %}{% if item.children %} dropdown{% endif %}" id="top-menu-{{ item.slug }}">
    <a href="{{ item.url }}"{% if item.children %} class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"{% endif %}>
      {% if item.children %}{% if item.selected %}{# Symbol to indicate this expands #}-{% else %}{# Symbol to indicate this contracts #}+{% endif %}{% endif %}
      {% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}
      <span>{{ item.title }}</span>
      {% if item.children %}{# Symbol to indicate this expands e.g. <b class="caret"></b> #}{% endif %}
    </a>
    {% if item.children %}{% include 'simple_menus.html' with menu=item.children %}{% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>